@import './variables';
@import './mixins';
@import './typography';
@import './animations';

* {
  outline: 0 none;
}

body {
  font-size: 1rem;
  line-height: $line-height;
  min-height: 100vh;
  position: relative;
  color: $color-text;
  background-color: $color-app-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $ff-Poppins;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}
