/*
*  Mixins.
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Functions
*  02. Check Icon
*
*
*/


/*=====================================
=            01. Functions            =
=====================================*/

@function to-string($value) {
  @return inspect($value);
}
@function to-svg-fill-color($value) {
  $value: to-string($value);
  $value: '%23' + str-slice($value, 2, str-length($value));
  @return $value;
}

/*=====  End of 01. Functions  ======*/


/*======================================
=            02. Check Icon            =
======================================*/
// $color: hex color
@mixin checkIcon($color: $color-text) {
  $color: to-svg-fill-color($color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
}
// $color: hex color
@mixin checkIconDot($color: $color-text) {
  $color: to-svg-fill-color($color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='#{$color}'/%3e%3c/svg%3e");
}

/*=====  End of 02. Check Icon  ======*/

