.vw-button {
  font-size: 0.875rem;
  padding: 0.5625rem 0.75rem;
  line-height: $line-height;
  min-width: 9.5rem;
  font-family: $ff-Poppins;
  &--large {
    min-width: 12.5rem;
    padding: 0.8125rem 0.75rem;
  }
  &--primary {
    border-color: $color-main;
    background-color: $color-main;
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active {
      border-color: darken($color-main, 10%);
      background-color: darken($color-main, 10%);
    }
  }
  &--success {
    border-color: $color-success;
    background-color: $color-success;
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active {
      border-color: darken($color-success, 10%);
      background-color: darken($color-success, 10%);
    }
  }
  &--outline {
    &-primary {
      color: $color-main;
      background-color: transparent;
      border: 0.0625rem solid $color-main;
      &:hover,
      &:focus,
      &:not(:disabled):not(.disabled):active {
        color: $color-white;
        background-color: $color-main;
        border-color: $color-main;
      }
    }
    &-secondary {
      color: $color-text;
      background-color: transparent;
      border: 0.0625rem solid $color-text;
      &:hover,
      &:focus,
      &:not(:disabled):not(.disabled):active {
        color: $color-white;
        border-color: $color-subtext;
        background-color: $color-subtext;
      }
    }
  }
  &--link {
    &-primary {
      padding: 0;
      border: 0;
      color: $color-main;
      background-color: transparent;
      &:hover,
      &:focus,
      &:not(:disabled):not(.disabled):active {
        color: darken($color-main, 20%);
        background-color: transparent;
      }
      &:focus,
      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
      }
    }
  }
  &--disabled,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
  &:not(:first-of-type) {
    margin-left: 0.5rem;
  }
  &--has-icon {
    display: flex;
    align-items: center;
    .vw-button__icon + .vw-button__label {
      margin-left: 0.5rem
    }
    .vw-button__label + .vw-button__icon {
      margin-left: 0.5rem
    }
  }
  &--toggle {
    position: relative;
    padding: 0 1.25rem 0 0;
    min-width: 0;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &:after {
      position: absolute;
      content: '';
      top: calc(50% - 7px);
      right: 0;
      border: 5px solid transparent;
      border-bottom-color: $color-main;
    }
    &.collapsed {
      &:after {
        top: calc(50% - 2px);
        transform: rotate(180deg);
      }
    }
  }
}

.vue-js-switch{ 
  .v-switch-core {
    border: 1px solid #C8C9D0;
    .v-switch-button{
      top: -1px !important;
    }
  }
}
