.vw-tabs {
  .nav-tabs {
    border: 0;
    .nav-item {
      margin-bottom: 0;
    }
    .nav-link {
      border: 0;
      color: $color-subtext;
      padding: 0.8125rem;
      text-align: center;
      min-width: 10rem;
      font-weight: 500;
      font-size: 0.8125rem;
      border-bottom: 0.1875rem solid $color-app-bg;
      @media screen and (max-width: 991px) {
        min-width: 7rem;
      }
      &.active {
        color: $color-main;
        border-bottom-color: $color-main;
      }
    }
  }
  &__content {
    padding: 3rem 5rem;
    @media screen and (max-width: 1024px) {
      padding: 3rem 1rem;
    }
  }
}
