@import './../../assets/scss/base/variables';

.vw-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 12.5rem;
  z-index: $z-index-headbar;
  background-color: $color-white;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.1);
  &__logo {
    display: flex;
    padding: 0.625rem 1.5rem;
    color: $color-white;
    background-color: $color-main;
  }
  &__app {
    &-info {
      display: flex;
      padding-left: 0.5rem;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__menu {
    &-group {
      padding-top: 2.5rem;
      &-label {
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0.625rem 1.5rem;
        color: $color-subtext;
      }
    }
    &-item {
      display: flex;
    }
    &-link {
      position: relative;
      font-size: 0.875rem;
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      color: $color-text;
      padding: 0.625rem 1.5rem;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 0.1875rem;
        height: 100%;
        background-color: $color-main;
        transition: all 0.3s ease;
      }
      &:hover {
        color: $color-main;
        background-color: #e6edfb;
        &:after {
          opacity: 1;
        }
        &-icon {
          path {
            stroke: $color-main;
          }
        }
      }
      &--active {
        color: $color-main;
        font-weight: 500;
        background-color: #e6edfb;
        &:after {
          opacity: 1;
        }
        .vw-sidebar__menu-link-icon {
          path {
            stroke: $color-main;
          }
        }
      }
      &-icon {
        flex: 1 0 1rem;
        max-width: 1rem;
        + .vw-sidebar__menu-link-label {
          padding-left: 0.625rem;
        }
      }
      &-label {
        flex: 1 0 calc(100% - 1rem);
        max-width: calc(100% - 1rem);
      }
    }
  }
}

// for user-role
body {
  &.isAdmin{
    .vv-roles_role__client{
      &-settings {
        .staff { display: none}
      }
    }
  }
  &.isStaff{
    .vv-roles_role__client{
      &-settings {
        .admin { display: none}
      }
    }
  }
}